body{
    height:620px ;
}

header{
  height: 100px;
  display: grid;
  grid-template-columns: 50% 25% 25%;   
  
}


.toggle{
    display: flex;
    flex-direction: column;
    align-items: center;
}
label{
    width: 5px;
    height: 5px;
    
    border-radius: 150px;
}
.switch-toggle{
    height: 20px;
    width: 60px;
    border-radius: 50px;
}

header h1{
    padding: 2.5rem 1rem;
    color: var(--text-color);
}

header>p{
    padding: 2.4rem 1.2rem;
}
header .numbers{
    margin: 0;
    margin-top: 2rem;
    letter-spacing: 5px;
}


 /* output */

 section{
     height:90px;
     border-radius: 15px;
     margin: 5% 15px;
     display: flex;
     align-items: flex-end;
     justify-content: space-around;
     flex-direction: column;
     padding: 10px;
     word-wrap: break-word;
     word-break: break-all;
     font-family: 'Spartan', sans-serif;
     font-weight: 700; 
 }

.previous-operand{
     color: var(--text-color);
     font-size: 1.5rem;
 }
.current-operand{
    color: var(--text-color);
    font-size: 2.5rem;
}
 main{
     margin: 5% 15px;
     padding: 1rem;
     height: 500px;
     border-radius: 15px;
     display: grid;
     grid-template-columns: repeat(4,1fr);
     column-gap: 15px;
     row-gap: 25px;
 }

 .span-two{
    grid-column:span 2;
 }

 button{
     
 }